@font-face {
  font-family: "Montserrat Alternates";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/MontserratAlternates-Regular.ttf");
}

@font-face {
  font-family: "Montserrat Alternates";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../fonts/MontserratAlternates-Medium.ttf");
}

@font-face {
  font-family: "Montserrat Alternates";
  font-style: bold;
  font-weight: 600;
  font-display: swap;
  src: url("../fonts/MontserratAlternates-SemiBold.ttf");
}

@font-face {
  font-family: "Montserrat Alternates";
  font-style: bold;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/MontserratAlternates-Bold.ttf");
}
